@value basic_padding from '../../common/set.css';
@value color_white, color_gray, color_main, color_main_soft from '../../common/colors.css';

.paint_box {
    padding: basic_padding;
    width: 100%;
}

.controlbar_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.controlbar_accordion {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: color_gray 1px solid;
    border-radius: 0.5rem;
    padding: calc(basic_padding/2);
}

.recommand_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
}

.color_color {
    cursor: pointer;
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 2rem;
}

/* Responsive */
.responsive .react-colorful {
    width: auto;
}

.brush_box {
    width: 100%;
    height: 100%;
}

.brush_list {
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.brush_size {
    width: 25px;
    height: 25px;
    border-radius: 2rem;
    font-size: 1.3rem;
}

.brush_size:hover {
    color: color_main;
    border: 1px solid color_main;
}

.control_element {
    padding: basic_padding;
    cursor: pointer;
    transition: transform 100ms ease-in;
    color: color_main;
}

.control_element:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.canvas_container {
    width: 100%;
    padding: 1rem 0 ;
}

.paint_img {
    width: 100%;
    height: 500px;
    border: 1px solid color_gray;
    border-radius: 10px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

