@value basic_padding from '../../common/set.css';
@value color_white, color_gray, color_main, color_main_soft from '../../common/colors.css';

.paint_box {
    padding: basic_padding;
}

.palette {
    width: 100%;
}

.controlbar_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.control_element {
    padding: basic_padding;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.control_element:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.paint_img {
    height: 350px;
    border: 1px solid color_gray;
    border-radius: 10px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}