@value basic_padding from '../../common/set.css';
@value color_white, color_gray, color_main, color_main_soft from '../../common/colors.css';

.result_box {
    padding: basic_padding;
}

.recommand_box {
    /* border: 1px solid red; */
}

.recommand_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.recommand_item {
    /* display: flex; */
    /* flex-direction: row; */
    
    list-style: none;
    margin: 0;
    padding: calc(basic_padding/2);
}

.recommand_wrap {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.recommand_color {
    width: 70px;
    height: 70px;
    border: 1px solid color_gray;
    border-radius: 10rem;
    margin: calc(basic_padding/2);
}

.recommand_effect {
    width: 70%;
    margin: auto;
}


.template_image {
    padding: basic_padding;
    margin: auto;
    width: 100%;
}

