@value color_main from '../common/colors.css';
@value response_width, response_padding, basic_padding, button_padding from '../common/set.css';

.login_box {
    height: 90vh;
}

.button_box {
    padding: button_padding;
    font-family: 'Pretendard';
}

button {
    width: 100%;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.kakao {
    background-color: #FEE500;
    color: #3D1B1A;
}

.naver {
    background-color: #1EC800;
}

.whiteback {
    background-color: #FF9343;
}

@media screen and (max-width: response_width) {
    button {
        font-size: 1.2rem;
    }
}