@value color_main, color_gray from '../common/colors.css';
@value response_width, response_padding from '../common/set.css';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

a:active, a:link, a:visited {
    color: color_main;
    text-decoration: none;
}

.title {
    color: color_main;
    font-family: 'Montserrat', sans-serif;
    font-weight : 800;
    font-size: 2rem;
    margin: auto 0;
}


.user_icon {
    font-size: 2rem;
    margin: auto 0;
    color: color_main;
}

.user_icon:hover {
    cursor: pointer;
}
