@value basic_padding from '../../common/set.css';

.choose_box {
    padding: basic_padding;
}

.templates_list {
    margin: 0;
    padding: 0;
}

.templates_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: calc(basic_padding/2);
}

.choice_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.template_color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10rem;
    margin-right: calc(basic_padding/2);
}

span {
    font-size: 20px;
}

.templates_image {
    padding: basic_padding;
    width: 80%;
}

