@value basic_padding, content_height from '../../common/set.css';
@value color_gray, color_black, color_main from '../../common/colors.css';

.content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: basic_padding;
    background-color: color_main;
}

.login_box, .join_box {
    display: flex;
    flex-direction: column;
}

.join_text {
    font-size: 1rem;
    margin: auto 0;
    padding: 1rem;
}


/* .find_box {
    padding: basic_padding;
    font-size: 1.2rem;
} */