@value basic_padding from '../../common/set.css';

.info_box {
    height: 100%;
    padding: basic_padding;
}

.login_box, .join_box {
    display: flex;
    flex-direction: column;
}

.login_box {
    margin-bottom: 2rem;
}


.find_box {
    padding: basic_padding;
    font-size: 1.2rem;
}