<!DOCTYPE html>
<html lang="ko">
    <head>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    {% if not request.user.is_authenticated %}
                    <a href="/user/create/">가입하기</a>
                    {% endif %}
                </li>
                <li class="">
                    {% if request.user.is_authenticated %}
                    <a href="/user/logout/">로그아웃</a>
                    {% else %}
                    <a href="/user/login/">로그인</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    
        {% block title %}      <!-- 페이지별 타이틀 공간 -->
        <title>Colrapy</title>
        {% endblock title %}

        {% block meta %}    <!-- 페이지별 메타 데이터 공간 -->
        {% endblock meta %}

        {% block scripts %}    <!-- 페이지별 스크립트 공간 -->
        {% endblock scripts %}

        {% block css %}        <!-- 페이지별 css -->
        {% endblock css %}
    </head>
    <body>
    {% block content %}
    view: {{ view }} <!-- ctx['view'] -->
    <br>
    data: {{ data }}  <!-- ctx['data'] -->
    {% endblock content %}
    </body>
</html>
