@value basic_padding from '../../common/set.css';
@value color_gray, color_black from '../../common/colors.css';

.label_box {
    padding: 0.5rem 0;
    text-align: left;
    font-size: 1rem;
}

.label_name {
    font-weight: 1000;
}

.input_box {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
    border: none;
    border-bottom: 1px solid color_gray;
    outline: none;
    color: color_gray;
}

.input_box:focus {
    color: color_black;
    border-bottom: 1px solid color_black;
}