@value color_white, color_gray, color_main from './common/colors.css';
@value response_width, response_padding, basic_padding, screen_padding from './common/set.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Nanum+Gothic:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    /* height: 100%; */
    min-height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-size: 1.8rem;
    font-family: 'Nanum Gothic', sans-serif;
    /* border: 3px color_main solid; */
}

.app {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: basic_padding;
    color: color_main;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    padding: basic_padding;
    color: color_main;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid;
    /* border-radius: 0.3rem; */
    border-radius: 5rem;
    color: color_white;
    font-size: 1.3rem;
    font-weight: 400;
    transition: transform 100ms ease-in;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.header {
    padding: screen_padding;
    border-bottom: 1px solid color_gray;
}

.content {
    padding: screen_padding;
    min-height: 90vh;
}

p {
    line-height: 150%;
}


@media screen and (max-width: response_width) {
    .header {
        padding: response_padding;
    }
    .content {
        padding: response_padding;
    }
}