@value basic_padding from '../../common/set.css';
@value color_white, color_gray, color_main, color_black from '../../common/colors.css';

.content {
    height: content_height;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: basic_padding;
    background-color: color_main;
}

.act_choice_box, .write_box {
    text-align: left;
}

.detail_text {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 150%;
    white-space: pre-line;
}

.write_box {
    padding-top: calc(basic_padding*2);
}

.write_content {
    height: 10rem;
    overflow: auto;
    border: 1px solid color_black;
    border-radius: 0.3rem;
}