@value basic_padding from '../../common/set.css';
@value color_white, color_gray, color_main, color_black from '../../common/colors.css';

.content {
    height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: basic_padding;
    background-color: color_main;
}

.act_choice_box, .write_box {
    text-align: left;
}

.write_box {
    margin: 3rem 0;
}

.write_content {
    height: 10rem;
    overflow: auto;
    border: 1px solid color_black;
    border-radius: 0.1rem;
}

.detail_text {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 150%;
    white-space: pre-line;
}

.length_count {
    font-size: 1rem;
    text-align: right;
}

