@value basic_padding from '../../../common/set.css';

.find_password_box {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
}


.page_title {
    font-size: 2rem;
}

.email_box {
    padding: calc(basic_padding/2);
}